<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-nav-tabs">
                    <div class="card-header" data-background-color="red">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper nav-tabs-navigation navbar-collapse collapse">
                                <ul class="nav nav-tabs navbar-nav navbar-left" data-tabs="tabs">
                                    <li class="active">
                                        <a data-toggle="tab" (click)="loadPokemons(true)">
                                            <i class="material-icons">list</i>Todos
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a data-toggle="tab" (click)="loadPokemons(false)">
                                            <i class="material-icons">favorite_border</i>Favoritos
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>                                    
                                </ul>
                                <ul class="nav navbar-nav navbar-right">
                                    <li class="buscar-pokemon">                                            
                                        <div class="form-group form-white label-floating is-empty">
                                            <label class="control-label">Buscar</label>
                                            <input type="buscar" class="form-control" size="30">
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-content table-responsive">
                        <cmp-pokemon-table [pokemons]="pokemons"></cmp-pokemon-table>                        
                    </div>

                    <div class="card-footer">
                        <div class="pull-left">
                            <button routerLinkActive="active" routerLink="/pokemon-new" class="btn btn-primary">Nuevo Pokemon</button>
                        </div>                        
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>



