<div class="main-content">

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <cmp-pokemon-dashboard-card title="Tipo de Pokemon más habitual" value="Hada" color="orange" icon="content_copy"></cmp-pokemon-dashboard-card>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <cmp-pokemon-dashboard-card title="Pokemons favoritos" [value]="favoritePokemonCount" color="red" icon="favorite"></cmp-pokemon-dashboard-card>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <cmp-pokemon-dashboard-card title="Pokemons registrados" [value]="pokemonCount" color="green" icon="assessment"></cmp-pokemon-dashboard-card>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <cmp-pokemon-dashboard-card title="Pokemons compartidos" value="0" color="blue" icon="share"></cmp-pokemon-dashboard-card>
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="card" >
                    <div class="card-header" data-background-color="red">
                        <h4 class="title">Últimos Pokemon añadidos</h4>
                        <p class="category">
                            <i class="material-icons">update</i> Actualizado recientemente
                        </p>
                    </div>
                    <div class="card-content">
                        <div class="tab-content">
                            <cmp-pokemon-table [pokemons]="recentPokemons"></cmp-pokemon-table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="orange">
                        <h4 class="title">Tipos de Pokemon más frecuentes</h4>
                        <p class="category">
                            <i class="material-icons">update</i> Actualizado recientemente
                        </p>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table table-hover">
                            <tbody>
                                <tr *ngFor="let pokemonType of pokemonTypes">
                                    <td><cmp-pokemon-type [pokemonType]="pokemonType"></cmp-pokemon-type> {{ pokemonType.typeName }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>
